.container {
    max-width: 140rem;
    margin: auto;
}
.grid {
    display: grid;
}

.grid-two-cols{
    grid-template-columns: repeat(2,1fr);
}

.grid-three-cols {
    grid-template-columns: repeat(3,1fr);
}
.grid-four-cols{
    grid-template-columns: repeat(4,1fr);
}

/* Layout */
header{
    height: 10rem;
    box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
    background-color: #202020;
    width: 100%;

     .container{
        height: 10rem;

    }
}
.navbar-grid{
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    height: 10rem;
    padding: 0 3.2rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 3.2rem;
    color: #fff;

    & li a {
        color: #fff;

    }
}